body {
    background-color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


input {
    width: 100%;
}

form{
    width: 100%;
    text-align: center;
}

input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #333;
    color: white;
}

.formulario{
    width: 300px;
    border: 3px solid #333;
    padding: 25px;
    margin: 25px;
    width: 93%;
    height: 350px;
    overflow: scroll;
}

.izq{
    float: left;
    width: 50%;
}

#submit{
    background-color: #999999; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
}

.der{
    float: right;
    width: 50%;
}

.cen{
    width: 100%;
    align-content: center;
}



.home{
    border: 3px solid #333;
    width: 70%;
    height: 300px;
    align-content: center;
    margin: auto;
    width: 60%;
    padding: 25px;

}

footer {
    width: 100%;
    height: 100px;
    background: #333;
    border-top: 2px solid #000;
    position: absolute;
    bottom: 0;
    text-align: center;
}